bin/
obj/
publish/
app.publish/

*.swp
*.user
*.suo
*.userosscache
*.userdata
*.vscode/
.vscode/
*.vs
.vs/
*.log
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
.vscode/
.vscode/*

**/Dockerfile
.dockerignore
.docker/

.DS_Store
Thumbs.db
